/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Raiz CSS */
:root {
  --primaria: #006ef5;
  --secundaria: #0047cc;
  --texto-bold: #8fc1ff;
  --primaria-clara: #1f9cff;
  --escuro: #1b1f24;
  --maisEscuro: #0a0d10;
  --claro: #ecf0f1;
  --vidro: rgba(255, 255, 255, 0.07);
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}

body {
  background-color: var(--maisEscuro);
  color: var(--claro);
}

.menu-rede-social {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  margin: 15px;
}

#menu-button {
  background: var(--secundaria);
  border-radius: 0.75rem;
  padding-block: 0.6rem;
  padding-inline: 0.9rem;
  transition: 0.3s all;
}

#menu-button:hover {
  background: var(--primaria);

  &:active {
    box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.536) inset;
    -webkit-box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.512) inset;
    -moz-box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.381) inset;
  }
}

#menu-button::after {
  content: "";
  display: none;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 400;
  font-size: 1.1em;
  position: relative;
  padding: 0.5rem 0;
}

.menu-link::after {
  content: ""; /* Obrigatorio ter content */
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.border-main {
  padding-top: 5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.foto-perfil {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 10px;
  border: 4px solid var(--vidro);
}

.full-width {
  padding: 20px 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  min-height: calc(100% - 80px);
  max-width: 28rem;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.cabecalho h5 {
  font-size: 25px;
  color: var(--color-neutral-40);
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
  margin-top: 1rem;
}

.div-hello {
  display: flex;
  align-items: center;
}

.cabecalho-sub-titulo {
  font-size: 13px;
  font-weight: 300;
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
}

.sobre {
  overflow: hidden;
  position: relative;
  padding: 8rem 2rem;
  justify-content: center;
  display: flex;
}

.sobre-nome {
  color: var(--primaria);
}

.sobre-paragrafo {
  color: #d1d1d1;
  text-align: left;
  font-size: 18px;

  b {
    color: var(--texto-bold);
  }
}

.sobre-titulo {
  font-size: 40px;
  color: var(--claro);
  text-align: left;
  margin-bottom: 20px;
}

.sobre-caixa {
  height: auto;
  margin-top: 5em;
  padding: 2rem;
  max-width: 600px;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
}

.sobre-info span {
  display: inline-block;
  width: 25%;
  font-weight: 600;
}

.sobre-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
}

.sobre-stats {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.stat {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: center;
  gap: 1.5em;
}

.stat-num {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.stat-text {
  margin: auto;
  font-size: 0.9rem;
  color: #ccc;
}

.stat-btn {
  margin-left: auto;
}

.btn-curriculo {
  border: 1px solid #fff;
  padding: 14px 35px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  transition: all 0.4s;
}

.btn-curriculo:hover {
  background: var(--primaria);
  border-color: var(--primaria);
}

.sobre-info {
  color: #d1d1d1;
  list-style: none;
  padding: 0;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.projetos {
  padding: 6rem 2rem;
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.projetos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.projetos-card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
  cursor: pointer;
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
  transform: translateY(-10px) scale(1.03);
}

.info-projetos {
  margin-bottom: 5px;
}

.paragrafo-projetos {
  color: rgba(226, 232, 240, 0.8);
  line-height: 1.25rem;
}

.caixa-textos-projetos {
  padding: 1.5rem;
}

.contatos {
  padding: 6rem 2rem;
  overflow: hidden;
  position: relative;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
}

.link-projeto {
  text-decoration: none;
  color: inherit;
  display: block;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  outline: none;
  transition: all 0.3s ease;
}

.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.sobre-imagem {
  width: 70%;
  height: auto;
  object-fit: cover;
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.3s ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);

  &:active {
    box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.536) inset;
    -webkit-box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.512) inset;
    -moz-box-shadow: -2px -7px 95px 33px rgba(0, 0, 0, 0.381) inset;
  }
}

.particulas::before {
  content: "";
  position: absolute;
  top: 14%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #2c08f790 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 11s infinite ease-in-out;
  opacity: 0.7;
}

.particulas::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #9110f376 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 7s infinite ease-in-out;
  opacity: 0.7;
}
.particulas2::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #127dd479 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 7s infinite ease-in-out;
  opacity: 0.7;
}

.particulas2::after {
  content: "";
  position: absolute;
  bottom: 4%;
  right: 5%;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle, #031eca78 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 11s infinite ease-in-out;
  opacity: 0.7;
}

.particulas3::before {
  content: "";
  position: absolute;
  top: 12%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #8910f37a 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 11s infinite ease-in-out;
  opacity: 0.7;
}

.particulas3::after {
  content: "";
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #5d03ca85 0%, transparent 70%);
  border-radius: 50%;
  animation: pulsar 7s infinite ease-in-out;
  opacity: 0.7;
}

.rede-social {
  width: 40px;
  height: 40px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  display: block;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--vidro);
  z-index: 1;
}

.rede-social .icon {
  position: relative;
  color: var(--claro);
  transition: 0.5s;
  z-index: 3;
}

.rede-social:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.rede-social:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.rede-social:hover:before {
  top: 0;
}

.rede-social.whatsapp:before {
  background: #4fce5d;
}
.rede-social.github:before {
  background: #000000;
}
.rede-social.linkedin:before {
  background: #0077b5;
}

/* .nav {
  position: fixed;
  background: rgba(15, 23, 42, 0.8);
  transition: 0.5s ease-in-out;
  width: 100%;
  z-index: 100;
  top: 0;
  padding: 1.5rem;
} */

.nav {
  /* max-width: 1280px; */
  max-width: 80rem;
  /* height: 70px; */
  /* margin-inline: auto; */
  font-size: 0.875rem;
  /* line-height: 1.25rem; */
  gap: 1.5rem;

  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.span-header {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.75rem;
}

.svg-logo {
  width: 3rem;
  height: 3rem;
}

.svg-header {
  /* --tw-shadow: 0 10px 30px rgba(15, 127, 229, 0.15); */
  /* --tw-shadow-colored: 0 10px 30px var(--tw-shadow-color); */
  /* background: var(--color-neutral-0); */
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 0.75rem;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  /* height: 2.5rem; */
  display: inline-flex;
}

.logo {
  font-size: 35px;
  gap: 0.75rem;
  text-align: center;
  display: flex;
  text-decoration: none;
  color: var(--claro);
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
  /* justify-content: center; */
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #fff;
  cursor: pointer;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #fff;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

.sobre-nome {
  color: var(--primaria);
}

.meu-elemento {
  position: absolute;
  top: 0.70rem;
  left: 0.70rem;
  border-radius: 9999px;
  background-color: var(--primaria-clara);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding-left: 0.725rem;
  padding-right: 0.725rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    z-index: 2;
  }

  .sobre-caixa {
    height: auto;
  }

  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .sobre-flex {
    justify-content: center;
  }

  .cabecalho {
    margin-top: 1em;
  }

  .row {
    flex: wrap;
  }

  #menu-button {
    display: none;
  }

  .span-header {
    display: none;
  }

  .grid-sobre {
    grid-template-columns: none !important;
    gap: 0rem !important;
  }

  .sobre-imagem {
    display: none;
  }

  .grid-programing {
    text-align: center;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list {
    will-change: clip-path, opacity;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 0.75rem;
    width: 50vw;
    height: 50vh;
    background: #204fe87a;
    clip-path: circle(100px at 90% -33%);
    transition: 0.7s ease-out;

    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    pointer-events: none;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .foto-perfil {
    width: 300px;
    height: 300px;
    animation: flutuar-mobal 4s ease-in-out infinite;
  }

  @keyframes flutuar-mobal {
    0%,
    100% {
      transform: translateY(5px);
    }
    50% {
      transform: translateY(15px);
    }
  }
}

.header {
  position: fixed;
  transition: 0.3s ease;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0px;
  right: 0px;
}

.container-menu-nav {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.container-nav.rolagem {
  background: #545a6140;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  transition: 0.2s all;
}

.container-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  border-radius: 1rem;
  backdrop-filter: blur(0px);
  transition: 0.2s all;
}

footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background: #1b1f248f;
}

#footer_content {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: rgb(255 255 255 / 0.6);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.logo-footer {
  margin-bottom: 0.75rem;
}

#footer_social_med {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.footer-list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  align-items: center;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  text-decoration: none;
  transition: all 0.4s;

  &:hover {
    color: var(--primaria);
  }
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#footer_subscribe p {
  color: var(--color-neutral-30);
}

#input_group {
  display: flex;
  align-items: center;
  background-color: var(--maisEscuro);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: var(--primaria);
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    opacity: 0.8;
  }
}

#footer_copyright {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: 400;
}

.grid-programing {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .sobre-flex {
    justify-content: center;
  }
}

@media (min-width: 640px) {
  #footer_content {
    flex-direction: row;
  }

  .nav {
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    flex-direction: column;
  }

  .sobre-caixa {
    border-radius: 0;
  }

  #display-none-button {
    display: none;
  }

  .footer-link {
    padding: 1em;
  }

  .contatos {
    padding: 0;
  }

  .formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 1rem;
    border: 0;
    border-radius: 0;
    padding-bottom: 5rem;
  }

  .projetos {
    padding: 6rem 1rem;
  }

  .sobre {
    padding: 6rem 0rem;
  }
}

.grid-sobre {
  display: grid;
  grid-template-columns: 30em 1fr;
  gap: 2rem;
  align-items: center;
}

@keyframes flutuar {
  0%,
  100% {
    transform: translateY(8px);
  }
  50% {
    transform: translateY(-13px);
  }
}

@keyframes pulsar {
  0% {
    transform: scale(0.3);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.3);
    opacity: 0.3;
  }
}
